<section>
    <h3 id="aboutme">About Myself</h3>

    <div class="face-lockup">

        <div class="face-image">

        </div>

        <div class="icon-notebook">
            {% include icons/notebook.html %}
        </div>

        <div class="icon-brush">
            {% include icons/brush.html %}
        </div>

        <div class="icon-programming">
            {% include icons/programming.html %}
        </div>

        <div class="icon-responsive">
            {% include icons/responsive.html %}
        </div>
    </div>

<div class="blurb">
    <p>My name is Ahmed Karim Lahmar. In March 2017, I graduated from the "<a href="http://www.issatso.rnu.tn" target="_blank">Institut Supérieur des Sciences Appliquées et de Technologie de Sousse</a>" (Institute of Applied Sciences and Technology of Sousse) with a degree in Software Engineering .</p>

    <p>I develop <a href="https://github.com/BerserkerLurker" target="_blank">Android and responsive web applications</a>. I'm always open to exciting and challenging job opportunities, with my Curriculum Vitae available on request. Please <a href="#">get in touch</a>, it would be great to hear from you.</p>
</div>

    <div class="skill-lockup">
      <div class="skill-unit">
        <div class="skill-label">Communication</div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Learning</div>
        <div class="skill-icons skill-10">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Planning</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">UX Design</div>
        <div class="skill-icons skill-6">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">UI Design</div>
        <div class="skill-icons skill-5">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Organization</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Problem Solving</div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Programming</div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>



    </div>
</section>
